@import 'tailwindcss';

@theme {
  --color-primary-main: #1b769f;
  --color-primary-dark: #0e5473;
  --color-primary-light: #2692c2;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
