@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: 'Poppins', serif;
  min-height: 100vh;
  background-color: #e2e8f0;
}

.MuiRadioGroup-root {
  display: grid !important;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.MuiFormControlLabel-root {
  margin: 0 !important;
}
